[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/shabbirmama
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shabbirmama
	label-Verified = -1..+1 group user/shabbirmama
	push = group user/shabbirmama
	read = group user/shabbirmama
	rebase = group user/shabbirmama
	removeReviewer = group user/shabbirmama
	submit = group user/shabbirmama
[access "refs/heads/*"]
	create = group user/shabbirmama
	push = +force group user/shabbirmama
	pushMerge = group user/shabbirmama
	read = group user/shabbirmama
[access "refs/tags/*"]
	push = group user/shabbirmama
	push = +force group user/shabbirmama
